<section class="main">
  <div class="page-info hard-shadows">
    <p>フォロー一覧</p>
  </div>
  <% if @geinins.nil? %>
    <p>まだ誰もフォローしていません。</p>
   <% else %>
    <%= render :partial=>"followings/following_list", locals:{ geinins: @geinins } %>
  <% end %>
</section>