<section class="main">
  <div class="page-info hard-shadows">
    <p>芸人登録</p>
  </div>
  <div class="event-box">
    <%= form_for(@geinin, method: :post) do |f| %>
      <%= render "geinin_edit", geinin: @geinin, f: f %>
    <% end %>
  </div>
</section>
