<section class="main">
  <div class="page-info hard-shadows">
    <p>芸人詳細</p>
  </div>
  <%= render 'geinins/geinin_info', geinin: @geinin, user: @user %>
	<%= render :partial => "events/event_list", locals: { events: @events, user: @user  } %>
  <%= link_to new_geinin_path,:class=>"btn new pink" do %>
    <span class="fa fa-plus-circle"></span>
    <span>新しい芸人を登録する</span>
  <% end %>
</section>