<section class="main">
    <div class="element page-info hard-shadows">
      <p>ライブ編集</p>
    </div>
  <div class="container">
    <div class="event-box">
      <%= form_for(@event) do |f| %>
        <%= render :partial => "event_edit", locals: { event: @event, event_performers: @event_performers, event_categories: @event_categories, f: f } %>
      <% end %>
    </div>
  </div>
  <% if @event.user_id.present? && @event.user_id == current_user.id %>
    <%= link_to event_path(@event.id), method: :delete,
    data: { confirm: "本当に「#{@event.title}」を削除してよろしいですか？",
                                                  "commit" => "削除する",
                                                  "cancel" => "やっぱりやめる",
                                                  }, :class=>"btn pink new" do %>
  <% end %>
  <i class="fas fa-trash-alt"></i>
  <span class="">削除する</span>
  <% end %>
</section>