<% @event = @event_info[0] %>
<% @event_performers = @event_info[1] %>

<section class="main">
    <div class="element page-info hard-shadows">
      <p>ライブ編集</p>
    </div>
  <div class="container">
    <div class="event-box">
      <%= form_for(@event) do |f| %>
        <%= render :partial => "event_edit", locals: { event: @event, event_performers: @event_performers, f: f } %>
      <% end %>
    </div>
  </div>
</section>