<section class="main">
  <%= render :partial => "events/search_form",locales: { events: @events } %>
  <% if @results.present? %>
  <% end %>
  <div class="element page-info hard-shadows">
    <p>今日のライブ一覧</p>
  </div>
</section>