<section class="main">
  <div class="element page-info hard-shadows">
    <p>スケジュール</p>
  </div>
  <% if current_user.present? %>
  <% else %>
  <div class="long-post">
    <div class="long-post-wrapper">
      <p>スケジュール機能はログインすると使えます！</p>
      <%= link_to user_twitter_omniauth_authorize_path,class: "btn twitter-fill radius new-login-s" do %>
        <i class="fab fa-twitter"></i> Twitterでログイン
      <% end %>
    </div>
  </div>
  <% end %>
  <div class="tabs">
    <input id="following-tab" type="radio" name="tab_item" checked>
    <label class="tab_item" for="following-tab">フォロー中</label>

    <input id="participates-tab" type="radio" name="tab_item">
    <label class="tab_item" for="participates-tab">参加する</label>
  
    <input id="pendings-tab" type="radio" name="tab_item">
    <label class="tab_item" for="pendings-tab">気になる</label>

    <div class="tab-content" id="following_content">
      <div class="tab_content_description">
        <%= render :partial => "events/event_list", locals: { events: @events_followings } %>
      </div>
    </div>
    <div class="tab-content" id="participates_content">
      <div class="tab_content_description">
        <%= render :partial => "events/event_list", locals: { events: @events_participates } %>
      </div>
    </div>
    <div class="tab-content" id="pendings_content">
      <div class="tab_content_description">
        <%= render :partial => "events/event_list", locals: { events: @events_pendings } %>
      </div>
    </div>
  </div>
</section>