@import "variables";

/* CSSのリセット */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}
h2 {
    font-size:16px;
    font-weight:normal;
}
li {
  display: list-item;
  list-style: none;
}
a{
    color:$accent_color;
    text-decoration:none;
}
body{
    background-image:url('background.png');
    font-family: 'Quicksand',sans-serif;
    color: $black_char_color;
    font-size: $default_font_size;
    line-height: 1.4;
  }
.btn{
    font-size: 13px;
    text-align: center;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    cursor: pointer;
    transition: all .2s ease 0s;
    text-decoration: none;
}
.accent{
  color:$accent_color;
}
.hard-shadows {
    box-shadow: 0 0 1px 1px rgba(0,0,0,.05);
}
.flash {
  margin-top:16px;
  padding:20px 0;
  color: white;
  background-color: rgb(251, 170, 88);
  text-align: center;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: $default_font_size;
}
/* .tag-count{
  display:inline-block;
  position: absolute;
  top: 4px;
  right: 3px;
  z-index: 2;
  width:20px;
  height:20px;
  background-color: $white_background_color;
  border-radius: $round_radius;
  color: $accent_color;
  border: 1px solid $accent_color;
  text-align: center;
  -webkit-transition: .2s;
  transition: .2s;
} */
/* header */
header{
  background-color:$accent_color;
  font-family: 'Quicksand',sans-serif;
  height:$header_height;
  position:fixed;
  top:0;
  left:0;
  z-index:10;
  width:100%;
  border-bottom: 1px solid #ccd6dd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.user-menu{
  float:left;
}
.user-menu-button:after {
  content: "";
  clear: both;
  display: block;
}
.user-menu-button li{
  position:relative;
  float:left;
  width:150px;
}
.user-menu-button a{
  display:block;
  font-size: $default_font_size;
  line-height:$header_height;
  height:$header_height;
  color:$white_char_color;
  text-align:center;
  text-decoration:none;
}
.user-menu-button a:hover{
  background-color: $white_char_color;
  color:$accent_color;
}
.user-menu-button-text{
  padding-left:2px;
}
.site-title{
  font-size:28px;
  line-height:$header_height;
  float:left;
  color:$white_char_color;
  height:$header_height;
  a{
    padding:0 20px 0px 20px;
    font-size:28px;
    display:block;
    float:left;
    text-decoration:none;
    &:hover{
        background-color: $white_char_color;
        color:$accent_color;
    }
  }
}
.site-sub-title{
  padding-left:10px;
  font-size: $default_font_size;
}
.login-button{
  padding-right:20px;
  line-height:24px;
  float:right;
  margin:7px 0 13px;
}
.user-menu-right{
    display: block;
    float:right;
    align-items: center;
    z-index:12;
    padding:8px 8px 2px 8px;
    margin:0 30px;
}
.avater{
  border-radius:$round_radius;
  height:30px;
}
.pulldown {
    position: relative
}
.pulldown:hover .pulldown-content {
    display: block
}
.pulldown .user-icon {
    cursor: pointer;
    padding: 0 10px;
    margin: 0 -10px;
}
.pulldown .pulldown-content {
    display: none;
    min-width: 180px;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: $white_background_color;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
}
.pulldown .pulldown-content > p {
    margin: 0;
    font-weight: bold;
    text-align: center;
    padding: .875em 20px;
}
.pulldown .pulldown-content > ul {
    border-top: 1px solid #eee;
    margin: 0;
    padding: .5em 0;
    list-style: none;
}
.pulldown .pulldown-content > ul li a {
    display: block;
    padding: .75em 20px;
    font-size: .875rem;
    color: $black_char_color;
    text-decoration: none;
}
.pulldown .pulldown-content > ul li a:hover {
    background-color: #f7f7f7;
}
.pulldown .pulldown-content > ul li .fa {
    margin-right: 5px;
}
/* Go To Top button */
#pageTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
#pageTop i {
//   padding: 8px 8px;
  width:43px;
  width:43px;
  text-align:center;
}
#pageTop a {
  display:block;
  z-index: 999;
  border-radius: 30px;
  width: 45px;
  height: 45px;
  background-color: $accent_color;
  color: $white_char_color;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
#pageTop a:hover {
  text-decoration: none;
  opacity: 0.7;
}
#pageTop span{
  padding: 15px 0;
}
/* main section */
.main{
    padding: 0px 80px;
    display:block;
    overflow: hidden;
    position: relative;
    margin:0 auto;
    margin-top:20px;
    margin-bottom:20px;
    max-width:420px;
    min-height:90vh;
}
.page-info{
    margin: 0 auto;
    padding: 18px 0 17px 0;
    font-size:15px;
    text-align:center;
    margin-top:15px;
    margin-bottom:15px;
    line-height: 1.4;
    background-color:$white_background_color;
}
.content-wrapper{
    margin:0 auto;
}
.section{
    display:block;
}
.site-info{
    display:none;
}
/* posts */
.posts{
  overflow:hidden;
}
.post{
  background-color:$white_background_color;
  margin:20px 0;
  width:100%;
  overflow:hidden;
}
.post-header{
  background-color:$accent_color;
  color:$white_char_color;
  padding: 6px 10px 5px 10px;
  overflow:hidden;
}
.post-header>span {
    display:block;
    font-size: 18px;
    color: $white_char_color;
    line-height: 18px;
    letter-spacing: .5px;
    float:left;
}
.delete-box, .share-box{
    float:right;
    padding:0 2px;
}
.delete-box a, .share-box a{
  color:$white_char_color;
  text-decoration:none;
  font-size: $default_font_size;
}
.post-wrapper{
  padding:0px 20px;
}
.profile-wrapper{
  padding:20px 20px;
}
.post-title{
  text-align:center;
  line-height:1.4;
  color: #434343;
  padding:12px 0 11px 0;
}
.post-title a{
    display:inline-block;
    width:100%;
    color: #434343;
    font-size: 18px;
    font-family: 'Gibson', sans-serif;
    font-style:normal;
}
.post-content{
  line-height: 1.5;
  font-size:  $default_font_size;
}
.post-place{
  line-height: 1.5;
  font-size:  $default_font_size;
  margin:10px 0;
}
.post-place a{
    color: $black_char_color;;
}
.post-place a:hover{
    color:$accent_color;
}
.post-performer-icon{
    float:left;
    margin: 0 0 0 5px;
}
.post-performer{
  line-height: 1.5;
  margin:0 auto;
  overflow:hidden;
}
.post-performer a{
  text-decoration:none;
  display:block;
  float:left;
  color:$black_char_color;
  padding: 0px 5px;
  margin-right:3px;
  margin-bottom:5px;
  line-height: 1.5;
  background-color: $white_background_color;
  border: 1px solid #aaa;
  border-radius: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size:  $default_font_size;
  -webkit-transition: .2s;
  transition: .2s;
}
.post-performer a:hover{
  background-color: $accent_color;
  border: 1px solid $accent_color;
  color: $white_char_color;
}
.post-performer-text{
    display:inline-block;
    /* padding:3px 0 2px 0; */
}
/* .flex{
        display: -webkit-flex; 
        display: flex;
        -webkit-flex-wrap: wrap; 
        flex-wrap: wrap;
        width: 100%;
        padding-bottom: 6px;
    	justify-content: center;
} */
.float-left{
    float:left;
}
.post-tag{
  margin: 2px 0 5px 0;
  font-size:  $default_font_size;
}
.post-icon{
  color:#848484;
}
.post-tag a{
  color:#848484;
  text-decoration:none;
}
.post-tag a:hover{
  color:$accent_color;
}
.post-image{
    text-align:center;
}
.post-image img{
    margin:0 auto;
}
.container{
    margin: 0 auto;
    display:block;
    margin-top:10px;
    margin-bottom:10px;
    overflow:hidden;
}
.post-options,.geinin-card-options{
    line-height: 20px;
    cursor: pointer;
    font-size:12px;
}
.post-option{
  width:25%;
  text-align:center;
  float:left;
}
.post-option a,.geinin-card-option a{
  color:#657786;
  text-decoration:none;
  display:block;
  padding: 5px 5px;
}
.post-option a:hover,.geinin-card-option a:hover{
    color: $accent_color;
}
.post-option-text,.geinin-card-option-text{
    display:inline-block;
    margin:0 auto;
    font-size:11px;
}
/* following list */
.geinin-card-option{
  width:calc(100% / 3);
  text-align:center;
  float:left;
}
/* search form　*/
.search-form-container{
    /* color:#272727; */
    z-index: 2;
    /* box-shadow: 0 0 1px 1px rgba(0,0,0,.05); */
    display: block;
    padding: 0;
    border: 0;
    font: inherit;
    /* vertical-align: baseline; */
    margin:0 auto;
    margin-bottom:10px;
    /* width:300px; */
    /* background:rgba(255,255,255,0.5); */
    background-color: #272727;
    color: $white_char_color;
    overflow:hidden;
    padding:10px 0 2px 0;
    /* border-radius: 15px;
    -webkit-border-radius: 15px; */
}
.search-form-inner{
    border: 0;
    font: inherit;
    vertical-align: baseline;
    width:90%;
    margin:0 auto;
    overflow: hidden;
    /* background-color:$white_background_color; */
}
.search-categories{
    padding:2px 0px 8px 0px;
    clear:both;
    width:100%;
}
.search-label{
    text-align: left;
    margin: 0 0 10px;
    padding-bottom: 4px;
    border-bottom: 1px solid #676767;
}
/* .label-border{
    border-bottom: 1px solid #676767;
    padding:0;
} */
.search-form{
    border:0;
    height:32px;
    display:inline-flex;
    border-style: none;
    background-color: #f2f2f2;
    vertical-align:middle;
    border:solid 1px #ccc;
    border-radius: 3px;
    padding:2px 5px;
    margin:2px 0px;
    width:100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;    -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}
.search-label-name{
    display:inline-block;
    padding:0;
}
.search-button-box{
    position:left;
    
    /* padding-left:10px; */
    overflow:hidden;
}
.popular-search-words-box,.geinin-tags{
    position:left;
    padding:5px 0 0px 0;
}
.popular-search-words-title,.geinin-tags-title{
    padding:5px 0 5px 0;
}
.popular-search-words-box ul{
    background-color:$black_char_color;
    border-radius:3%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; 
}
.search-form-area{
    position:left;
    /* padding-left:10px; */
}
.categories{
    padding: 6px 8px;
    position:relative;
    font-size:  $default_font_size;
    color: #eee;
    margin: 0 5px 5px 0;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
    -webkit-transition: .2s;
    transition: all 300ms ease;
}
.geinin-index{
    padding: 6px 28px 6px 8px;
    position:relative;
    font-size:  $default_font_size;
    color: #eee;
    margin: 0 5px 5px 0;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
    -webkit-transition: .2s;
    transition: all 300ms ease;
}
/* footerのCSS */
footer{
    background-color: $white_background_color;
    border-top:1px solid #ccd6dd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color:#66757f;
    text-align:center;
    width:100%;
    padding-top:10px;
    margin:0;
    bottom:0;
}
.copyright span {
    display: block;
    font-size: 13px;
    line-height: 13px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom:10px;
}
.footer-menu a{
    text-decoration:none;
    color:#66757f;
}
.footer-menu a:hover{
    color:$accent_color;
}
.navigation-block{
    width: 100%;
    text-align: center;
    margin:0 auto;
    display:inline-block;
}
.navigation-link{
    display: inline-block;
    vertical-align: top;
    max-width: 140px;
    width: 40%;
    margin: 10px 10px 8px;
    padding: 4px 0;
    text-decoration:none;
    color:$white_char_color;
}
.event-list-box{
    margin:0 auto;
}
.event-list-wrap{
    margin:10px;
    padding: 30px 0px;
}
.event-no-result{
    padding:60px 40px;
    text-align:center;
    background-color:$white_background_color;
}
.login-s{
  display:none;
}
/* event registration form */
.event-edit-form{
    border:0;
    padding:10px;
    font-size: $default_font_size;
    font-family:'Quicksand', sans-serif;
    color:#434343;
    border:solid 1px #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
    background-color:$white_background_color;
}
.form-long{
    width:72vw;
    margin:0 5px 0 5px;
    max-width:320px;
}
.event-edit-form:focus {
    border:solid 1px $accent_color;
}
.form-short{
    width:29vw;
    display:block;
    float:left;
    max-width:140px;
    margin-left:5px;
}
.form-short-2{
    float:right;
    width:29vw;
    display:block;
    max-width:140px;
}
.presale-period{
    width:5vw;
    text-align:center;
    display:block;
    float:left;
    max-width:20px;
    padding:10px 5px 5px 5px;
}
textarea{
    height:100px;
    margin-bottom:0;
    display:block;
}
.form-item{
    clear:both;
    overflow:hidden;
    width:100%;
}
.form-icon{
    width:5%;
    padding:10px 0px 5px 5px;
    float:left;
}
.form{
    float:left;
    overflow:hidden;
}
.more-info{
    margin: 0 auto;
    padding: 18px 0 17px 0;
    font-size: 15px;
    text-align: center;
    margin-top:15px;
    margin-bottom:15px;
    line-height: 1.4;
    color:$white_char_color;
    background: #66CDAA;
    /* padding: 10px 0px;
    text-align:center;
    font-size: 16px;
    color: $white_background_color;
    left:0;
    margin:20px 0 5px 20px;
    width:72vw;
    max-width:420px; */
}
.more-info:before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
}
.icon{
    padding-right:5px;
}
.icon-tag{
    padding-right:4px;
}
/*  アンケート結果　*/
.survey-title{
    padding: .25em 0 .5em .25em;
    border-bottom: 1px solid #ccc;
    margin: 10px;
}
.survey-wrapper{
    padding:5px;
}
.survey-period{
    padding: .25em 0 .5em .80em;
}
.survey-result{
    padding: .25em 0 .5em .80em;
}
.ranking{
    position:left;
}
.pink{
    background-color:$accent_color;
    color: #fbfbfb;
    border: 1px solid $accent_color;
}
.pink:hover{
    background-color: #fbfbfb;
    color: $accent_color;
}
.green{
    color:$white_char_color;
    background: #5bbc8e;
    border: 1px solid#5bbc8e;
}
.green:hover{
    background-color: #fbfbfb;
    color: #5bbc8e;
}
.geinin-btns{
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
    font-size:20px;
    overflow: hidden;
}
.geinin-btn{
    padding:10px 20px;
    margin-right:10px;
    display: inline-block;
}
.geinin-btn-2{
    padding:10px 20px;
    margin:0 auto;
    display: inline-block;
}
.pink-blank{
    background-color: #fbfbfb;
    color: $accent_color;
    border: 1px solid $accent_color;
}
.pink-blank:hover{
    background-color:$accent_color;
    color: #fbfbfb;
}
/* 芸人wiki */
/* .geinin-list{
    margin:10px 0;
} */
.geinin{
  width: 100%;
  background-color:$white_background_color;
  margin:0 auto;
  overflow: hidden;
}
.geinin-wrapper{
  padding:2px 5px;
  overflow:hidden;
}
.geinin-box{
  padding:5px;
  line-height:20px;
  overflow:hidden;
}
.geinin-name{
    text-decoration:none;
    color:#000;
    font-size:16px;
    display:block;
    float:left;
    padding:2px 0;
}
.geinin-name:hover{
    color:$accent_color;
}
.geinin-image-box{
    float:left;
    padding:2px 0;
    margin-right:5px;
}
.geinin-name-box{
    padding:5px;
    float:left;
}
.geinin-image-box img{
    width:30px;
    border-radius:$round_radius;
}
.geinin-name-title{
    font-size:20px;
}
.geinin-icon{
    display: inline-block;
}
.twitter{
    color:$twitter_color;
}
.twitter-fill{
    background-color:$twitter_color;
    color:$white_char_color;
    border: 1px solid $twitter_color;
}
.instagram{
    color: #8a3ab9;
}
.youtube{
    color:#cd201f;
}
.facebook{
    color:#3B5998;
}
.lp-panel {
    position: relative;
    width:100%;
    margin:0 auto;
    margin:10px 0;
    background-color:$white_background_color;
}
.lp-panel-item{
    padding:10px;
}
.lp-panel-item-body {
    width: 100%;
    margin-top: 5px;
}
.lp-panel-item-title {
    color: $accent_color;
    font-weight: normal;
    font-size: 20px;
    margin: 0;
}
.lp-panel-item-text {
    margin: 8px 0;
    font-size: .875rem;
}
.lp-panel-item-image {
    width: 100%;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 1px solid #eee;
    border-radius: 10px;
}
.lp-panel-item-site-title{
    color: $accent_color;
    font-weight: normal;
    font-size: 30px;
    margin: 0;
    text-align:center;
}
.radius{
    transition-duration: 0.5s;
    border-radius:10px;
    -webkit-border-radius: 10px;
}
.twitter-button-large{
    font-size: 20px;
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    transition-duration: 0.5s;
    padding: 0 10px;
    display: block;
    margin: 40px auto;
    position: relative;
    color: $white_char_color;
    background-color: $twitter_color;
    border: 1px solid $twitter_color;
    border-radius:10px;
    -webkit-border-radius: 10px;
    text-decoration: none;
}
.lp-panels{
  padding:0 15px;
  display:block;
  overflow: hidden;
  position: relative;
  margin:0 auto;
  margin-bottom:50px;
  max-width:600px;
  min-height:800px;
}
.twitter-large-button a:hover {
    color: $twitter_color;
    background-color: $white_background_color;
    opacity: 1.0;
}
.twitter-large-button a {
    color:$white_background_color;
}
.long-post{
    color:$black_char_color;
    background-color: $white_background_color;
    width: 100%;
    margin: 15px auto;
    overflow:hidden;
}
.long-post-header{
    background-color:$accent_color;
    color:$white_char_color;
    padding: 10px 15px;
}
.long-post-wrapper{
    padding:20px;
}
.typography, body {
    line-height: 1.5;
    font-size:  $default_font_size;
    padding:5px 0;
}
.typography li,p{
    margin: 0.4em 0;
    text-align: -webkit-match-parent;
    word-wrap: break-word;
    word-break : break-all;
}
.terms li{
    display: list-item;
    list-style:disc;
}

/* LP　*/
.message{
  width: 100%;
  background-image:url('lp.jpeg');
  background-size:cover;
  height: 55vh;
  position:relative;
  overflow:hidden;
}
.message-inner{
  padding:10vh 1vw 5vh 1vw;
}
.message-text{
  text-align:center;
  color:$white_char_color;
  font-size:46px;
  font-weight:bold;
  line-height:46px;
}
.message-text-descriptions{
  padding:10px 0 30px 0;
}
.message-text-sub{
  font-size:20px;
  line-height:16px;
  text-align:center;
  color:$white_char_color;
}
.message-text-count{
  text-align:center;
  color:$white_char_color;
  font-size:18px;
  line-height:32px;
}
.number-large{
  font-size:32px;
  font-weight:bold;
}
.new-login{
    padding:8px 20px;
    width:200px;
    margin:0 auto;
    font-size:18px;
    display:block; 
}
.new-login:hover {
    color: $twitter_color;
    background-color: $white_background_color;
    opacity: 1.0;
    display:block;
}
.new-login-s{
    padding:3px 10px;
    margin:0 auto;
    display:block; 
    float:left;
}
.new-login-s:hover {
    color: $twitter_color;
    background-color: $white_background_color;
    opacity: 1.0;
    display:block;
}
.new-login-description{
  text-align:center;
  width:auto;
  color:$white_char_color;
  margin:8px 0;
}
.btn-icon{
  margin:0;
  font-size:25px;
  vertical-align:top;
  line-height:40px;
  height:30px;
}
.btn-text{
  font-family:'Quicksand';
  font-style:normal;
  text-decoration:none;
  margin-top:5px;
  font-size:5px;
  color:$white_char_color;
  height:10px;
  line-height:6px;
}

/* フォローボタン */
.following-box{
    float:right;
}
.following{
    border-radius:20px;
    padding:5px 15px;
    float:left;
}
/* フォローボタンのフォロー中・フォロー解除切り替え　*/
a.following span.shown{ display:inline; }
a.following:hover span.shown{ display:none; }
a.following span.hover-shown{ display:none; }
a.following:hover span.hover-shown{ display:inline; }

/* User Profile */
.user-name{
    font-size:16px;
    font-weight:bold;
    display:block;
}
.user-nickname{
    display:block;
    color:#66757f;
}
.profile-header{
    overflow: hidden;
}
.profile-image-box{
    float:left;
    margin:0px 5px 0 0;
    width:35px;
    z-index:2;
}
.profile-image{
    border-radius:$round_radius;
    width:90%;
}
.profile-name{
    float:left;
}
.profile-nav{
    position: relative;
    overflow:hidden;
}
.profile-nav-item{
    display:block;
    float:left;
    width:32%;
    text-align:center;
    transition: all 0.2s ease;
    color: #657786;
}
.profile-nav-item a{
    color:#658786;
}
.profile-nav-btn{
    color: #657786;   
}
.profile-nav-label{
    font-weight: bold;
    font-size: 12px;
    letter-spacing: .02em;
    transition: color .15s ease-in-out;
    display:block;
}
.profile-value{
    font-size: 18px;
    font-weight: bold;
    padding-top: 3px;
}
/*タブ切り替え全体のスタイル*/
.tabs,.indexes {
  padding-bottom: 40px;
  margin: 0 auto;
  margin-top: 10px;
}
/*タブのスタイル*/
.tab_item {
  width: calc(100%/3);
  height: 40px;
  border-bottom: 1px solid #ccd6dd;
  background-color: $white_background_color;
  line-height: 40px;
  font-size: 15px;
  text-align: center;
  color: #ccd6dd;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.index_item{
  width: calc(100%/5);
  height: 40px;
  border-bottom: 1px solid #ccd6dd;
  background-color: $white_background_color;
  line-height: 40px;
  font-size: 15px;
  text-align: center;
  color: #ccd6dd;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover,.profile-nav-item:hover,.profile-nav-btn:hover,.profile-nav-item a:hover,.index_item:hover {
  /* opacity: 0.75; */
  color:$accent_color;
}
/*ラジオボタンを全て消す*/
input[name="tab_item"],input[name="profile-nav-item"],input[name="index_item"] {
  display: none;
}
/*タブ切り替えの中身のスタイル*/
.tab-content,.profile-nav-item-content,.index-content {
  display: none;
  clear: both;
  overflow: hidden;
}
/*選択されているタブのコンテンツのみを表示*/
#following-tab:checked ~ #following_content,
#participates-tab:checked ~ #participates_content,
#pendings-tab:checked ~ #pendings_content,
#posted-event-tab:checked ~ #posted-event-tab-content,
#following-geinin-tab:checked ~ #following-geinin-tab-content,
#index-tab-0:checked ~ #index-tab-0-content,
#index-tab-1:checked ~ #index-tab-1-content,
#index-tab-2:checked ~ #index-tab-2-content,
#index-tab-3:checked ~ #index-tab-3-content,
#index-tab-4:checked ~ #index-tab-4-content{
  display: block;
  overflow:hidden;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item,.profile-nav input:checked + .profile-nav-item,.indexes input:checked + .index_item {
  color:$accent_color;
  background-color: $white_background_color;
  border-bottom: 3px solid $accent_color;
}
.geinin-card {
    background-color: $white_background_color;
    border: 1px solid #e6ecf0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    overflow: hidden;
}
.geinin-card-content {
    margin: 10px 15px 2px 15px;
    position: relative;
    line-height:20px;
}
.geinin-card-header{
  overflow: hidden;
}
.geinin-card-image {
    background-color: $white_background_color;
    border-radius: $round_radius;
    display: inline-block;
    margin: -45px 2px 0 -3px;
    padding: 3px;
    position: relative;
    vertical-align: bottom;
    z-index: 1;
    display:none;
}
.geinin-card-name a{
    color:$black_char_color;
    font-size:16px;
    display:block;
    float:left;
    padding:6px 0;
    margin-right:5px;
}
.geinin-card-name a:hover{
    color:$accent_color;
}
.geinin-card-descriptions{
  color: $black_char_color;
  text-align:left;
}
.geinin-card-sns{
  float:left;
  padding:3px 3px;
  span{
      font-size:24px;
  }
}
.new{
    padding:10px 40px;
    width:200px;
    margin:0 auto;
    font-size:16px;
    margin-top:20px;
    margin-bottom:20px;
    display:block;
}
.geinin-title{
    font-size:18px;
    font-weight:bold;
    display:block;    
}
.geinin-yomi{
    font-size:12px;
    color:#66757f;
}
.geinin-icon span{
    font-size:30px;
}
.member-icon{
    font-size:18px;
}
.stepBar {
  position: relative;
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
  text-align: center;
  width: 100%;
  overflow: hidden;
  *zoom: 1;
}
.stepBar .step {
  position: relative;
  float: left;
  display: inline-block;
  line-height: 40px;
  padding: 0 40px 0 20px;
  background-color: #eee;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.stepBar .step:before, .stepBar .step:after {
  position: absolute;
  left: -15px;
  display: block;
  content: '';
  background-color: #eee;
  border-left: 4px solid #FFF;
  width: 20px;
  height: 20px;
}
.stepBar .step:after {
  top: 0;
  -moz-transform: skew(30deg);
  -ms-transform: skew(30deg);
  -webkit-transform: skew(30deg);
  transform: skew(30deg);
}
.stepBar .step:before {
  bottom: 0;
  -moz-transform: skew(-30deg);
  -ms-transform: skew(-30deg);
  -webkit-transform: skew(-30deg);
  transform: skew(-30deg);
}
.stepBar .step:first-child {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.stepBar .step:first-child:before, .stepBar .step:first-child:after {
  content: none;
}
.stepBar .step:last-child {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.stepBar .step.current {
  color: $white_char_color;
  background-color: $accent_color;
}
.stepBar .step.current:before, .stepBar .step.current:after {
  background-color: $accent_color;
}
.stepBar.step2 .step {
  width: 50%;
}
.stepBar.step3 .step {
  width: 33.333%;
}
.stepBar.step4 .step {
  width: 25%;
}
.stepBar.step5 .step {
  width: 20%;
}
@media(min-width:800px){
    .user-menu-sm{
        display:none;
    }
    .user-menu-button-sm{
        display:none;
    }
}
@media(max-width:1024px){
    .user-menu-button{
        display:none;
    }
    .user-menu-button li{
        display:none;
    }
    .user-menu-sm{
        display:inline-block;
        position:fixed;
        bottom:0;
        left:0;
        width:100%;
        border-top: 1px solid #ccd6dd;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    .user-menu-button-sm li{
        float:left;
        width:20%;
      }
    .user-menu-button-sm a{
        display:block;
        height:60px;
        font-size:11px;
        text-align:center;
        background:$white_background_color;
        color: #262626;
        text-decoration:none;
      }
    .user-menu-button-sm a:hover{
        background-color: $white_char_color;
        color:$accent_color;
    }
    .user-menu-icon{
        display:block;
        margin:0 auto;
        font-size:20px;
        padding-top:10px;
        padding-bottom:6px;
    }
    .user-menu-text{
        display:inline-block;
        margin:0 auto;
        padding-top:10px;
    }
}

@media(max-width:420px){
    .main{
        margin:0 auto;
        margin-top:20px;
        padding:0 20px 60px 20px;
    }
    .search-form-container{
        margin:0 auto;
        padding:12px 10px 4px 10px;
        margin-top:10px;
        margin-bottom:7px;
    }
    .search-form-inner{
        width:95%;
    }
    .login-button{
      display:none;
    }
    .login-s{
        display:block;
        float:right;
        height:46px;
        text-align:center;
        z-index:12;
        overflow:hidden;
        padding:5px 5px;
        border-left:1px solid #ccd6dd;
      }
    .login-s a{
        font-size:11px;
        text-align:center;
        color: $white_char_color;
        text-decoration:none;
    }
    .login-s a:hover{
        background-color: $white_char_color;
        color:$accent_color;
    }
    .login-s-icon{
        display:inline-block;
        color: $white_char_color;
        margin:0 auto;
        font-size:20px;
    }
    .login-s-text{
        display:block;
        color: $white_char_color;
        margin:0 auto;
    }
    .user-menu-right{
       margin:0 auto;
    }
    .footer{
      display:none;
    }
    .message-text{
      font-size:28px;
    }
    .clearfix:after{
      content: "";
      clear: both;
      display: block;
    }
    .message{
      height: 45vh;
    }
    .message-inner{
      padding:7vh 1vw 5vh 1vw;
    }
    .message-text{
      padding:1vh 0px 1vh 0px;
      font-size:28px;
      line-height:22px;
    }
    .message-text-sub{
      font-size:18px;
      text-align:center;
      color:$white_char_color;
      line-height:18px;
    }
    .message-text-count{
      font-size:16px;
      line-height:32px;
    }
    .number-large{
      font-size:32px;
    }
    .profile-nav{
      position: relative;
      overflow:hidden;
    }
    .profile-nav-label{
        display:inline-block;
    }
    .geinin-btn{
        font-size: $default_font_size;
    }
    .geinin-btn-2{
        font-size: $default_font_size;
    }
    .site-info{
        display:block;
    }
}
/* iPhone5用 */
@media(max-width:320px){
    .categories{
      display: inline-block;
      padding: 6px 4px;
      color: $white_char_color;
      background-color: $accent_color;
      margin: 0 3px 3px 0;
      transition: all 300ms ease;
      margin-top:5px;
    }
    .message-text{
      font-size:20px;
      line-height:22px;
    }
    .message-text-sub{
      font-size:16px;
      text-align:center;
      color:$white_char_color;
      line-height:22px;
    }
    .message-text-count{
      font-size:16px;
      line-height:22px;
    }
    .number-large{
      font-size:28px;
    }
    .post-header span{
        font-size:15px;
    }
    .user-menu-button-sm a{
      font-size:9px;
    }
    .profile-nav-label{
        display:block;
    }
    .form-long{
        width:220px;
    }
    .form-short{
        width:76px;
    }
    .more-info{
        width:280px;
        margin:0 auto;
        margin-top:10px;
        margin-bottom:10px;
    }
}
.clearfix:after{
	content: "";
	clear: both;
	display: block;
}