<section class="main">
  <div class="page-info hard-shadows">
    <h2>当サイトについて</h2>
  </div>
  <div class="long-post">
    <div class="long-post-wrapper">
      <div class="post-typography">
        <h3><strong>■wArally!とは？■</strong></h3>
        <p>非公式のお笑いライブ検索サイトです。現在は首都圏のライブのみ対応しています。<br />
        管理人含むお笑いファンやライブの主催者の方など、みんなでライブの情報を投稿して作っています。<br />
        ライブは<a href="/submit">ライブ登録</a>ボタンからどなたでも登録可能です。<br />
        間違っている情報や不明な点がある場合は、お手数ですがTwitterアカウント<a href="https://twitter.com/warally_info">@warally_info</a>まで教えていただければ幸いです。<br /><br /></p>
        <h3><strong>■FAQ■</strong></h3>
        <p>1. wArally!ってどういう意味？<br />「笑い(wara)」と「決起集会」という意味の英語(rally)をつなげて作っています。<br />「芸人さんの活動をサポートするために、みんなで力を合わせよう！」という思いを込めてます。</p>
        <p>2. wArally!のAが大文字なのはなぜ？<br />wAr &larr;この部分が顔文字で笑っているように見える気がするので大文字になっています。<br /><br />
      </div>
    <div>
  </div>
</section>
  