<section class="main">
  <div class="page-info hard-shadows">
    <h2>通知一覧</h2>
  </div>
  <div class="post">
    <div class="post-wrapper">
      <div class="post-typography">
        <p>通知機能は準備中です！</p>
      </div>
    <div>
  </div>
</section>
  