<section class="main">
  <div class="page-info hard-shadows">
    <h2>プライバシーポリシー</h2>
  </div>
  <div class="post">
    <div class="long-post-header">
      <span>プライバシーポリシーのまとめ</span>
    </div>
    <div class="post-wrapper">
      <div class="typography">
        <ul>
          <li>
            <i class="fas fa-check icon"></i>アカウント登録して利用する場合、wArally!はスケジュール機能提供のためTwitterの<span class="accent">プロフィール情報</span>と<span class="accent">フォロー一覧</span>を取得します。
          </li>        
          <li>
           <i class="fas fa-check icon"></i>サイトの分析や改善のため、<span class="accent"><b>Google Analytics</b></span>を使用してトラフィックデータを取得しています。
          </li> 
          <li>
            <i class="fas fa-check icon"></i>運営が無断でユーザーの個人情報を第三者に開示することはありません。
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="post">
    <div class="long-post-header">
      <span>プライバシーポリシー</span>
    </div>
    <div class="post-wrapper">
      <div class="typography terms">
      <h3>Twitter APIについて</h3>
      <p>当サービスではTwitter APIを利用しています。<br>
         当サービスではサービス運営のため、下記の権限を保有します。</p>
         <img src="/assets/twitter_auth.png" style="width:100%">
        <p>読込権限</p>
        <li>プロフィールの取得：アカウントの登録のため</li>
        <li>フォロー中の人を見る：芸人をフォローするため</li>
        <p>書込権限</p>
        <li>ツイートする：芸人・ライブ情報の画像つきツイートをするため</li>
        <p>DM権限</p>
        <li>DMを送信する：DMでライブ情報を通知するため</li>
      <h3>利用目的</h3>
        <p>芸人をフォローする、お笑いライブ情報に「参加する」「検討中」のマークをつけるなどのスケジュール機能提供のため</p>
      <h3>個人情報の開示について</h3>
      <p>取得した情報は、次のような場合を除いて第三者に開示することはありません。
	    <li>ユーザー本人の同意がある場合</li>
    	<li>開示すべき法的義務を負っている場合</li>
	    <li>不正利用があった場合</li>
	    <li>運営の権利や財産を保護するために必要と、運営が合理的に判断した場合</li>
      <h3>Cookie</h3>
      <p>当サイトではログイン状態の確認、サイトの分析と改善のためにCookieを利用しています。トラフィックデータ収集にはGoogle Analyticsが使用されています。ユーザーはブラウザの設定によりCookieの送信を拒否することができます。データは匿名で収集されており、個人を特定するものではありません。</p>
      <h3>改定履歴</h3>
      <p>2018年7月21日 制定</p>
    <div>
  </div>
</section>