<section class="main">
  <div class="page-info hard-shadows">
    <h2>利用規約</h2>
  </div>
  <div class="post">
    <div class="long-post-header">
      <span>利用規約のまとめ</span>
    </div>
    <div class="post-wrapper">
      <div class="typography">
        <ul>
          <li>
            <i class="fas fa-check icon"></i>投稿されたライブ/芸人情報は<span class="accent"><b>誰でも自由に閲覧</b></span>できます。
          </li>        
          <li><i class="fas fa-check icon"></i>フライヤー画像などの知的財産の権利は作成者および権利所有者に所属します。</li>
          </li>
          <li>
            <i class="fas fa-check icon"></i>利用者は<span class="accent"><b>いつでも退会</b></span>できます。ログインせずに利用することも可能です。
          </li>
          <li>
           <i class="fas fa-check icon"></i>お笑いに関係のない投稿、<span class="accent"><b>悪口や性的な投稿は禁止</b></span>です！
          </li> 
          <li>
           <i class="fas fa-check icon"></i>当サイトに掲載された情報による損失については責任を負いかねます。ライブの最新情報については、公式HPにてお確かめください。
          </li> 
        </ul>
      </div>
    </div>
  </div>
  <div class="post">
    <div class="long-post-header">
      <span>利用規約</span>
    </div>
    <div class="post-wrapper">
      <div class="typography terms">
        <p>wArally!運営は、当サービス「wArally! 」について以下を定めます。<br><br></p>
        <h3>定義</h3>
        <li>wArally!の運営は<span class="accent"><b>「お笑いライブをもっと身近なものにしたい」</b></span>という思いでwArally!を運営しています。お笑いライブの情報や芸人の情報を手に入れやすくし、全てのお笑いを愛する人が楽しめるようなサービスを提供できるよう努力します。</li>
        <li>利用規約を確認した上でwArally!を継続的に利用している場合、利用規約に同意しているとみなします。もし利用規約に同意しかねる場合は、wArally!の利用を停止するか、wArally!運営に問い合わせをお願いします。<span class="accent"><b>wArally!運営は常に利用者の意見を聞くものとします。</b></span></li>
        <li>利用規約及びwArally!の準拠法は日本法とします。</li>
        <li>wArally!に関連する一切の紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所と定めます。</li>
        <h3>知的財産権</h3>
        <li>お笑いライブの情報や芸人情報において「事実」に関するものは、知的財産権に含まれません。具体的には、お笑いライブが「いつ、どこで開催され、誰が出演するか」、芸人が「いつ結成され、どの事務所に所属し、どの賞レースに出場したか」などの情報です。</li>
        <li>お笑いライブのフライヤー画像に関する知的財産権は、フライヤーの作成者に帰属するものとします。
        <li>知的財産権には公衆送信権や送信可能化権も含まれています。そのため、wArally!運営はいかなる場合でも、知的財産権が利用者に帰属しているコンテンツを許諾なく、wArally!の外部へ発信すること（出版・放送等）をしません。また同様の理由から、利用者は所定の操作によりいつでも退会することができます。
        <li>利用者が有する知的財産権は、wArally!運営がwArally!を第三者に譲渡した場合においても、利用者に帰属し続けます。
        <li>利用者に帰属する知的財産権を除き、wArally!の知的財産権はwArally!運営または当社にライセンスを許諾している者に帰属します。
        <h3>禁止事項</h3>
        <li>wArally!を構成するシステムに悪影響を与える行為を禁じます。</li>
        <li>wArally!運営及び利用者にとって著しく不利益となる行為を禁じます。</li>
        <li>wArally!のサーバーに以下の内容を送信することを禁じます。</li>
        <li>性的な内容</li>
        <li>暴力的、または残虐な内容</li>
        <li>他者を脅迫する内容</li>
        <li>差別的、または攻撃的な内容</li>
        <li>犯罪、または犯罪を助長する内容</li>
        <li>いじめ、またはいじめを助長する内容</li>
        <li>スパム、またはスパムサイトへ誘導する内容</li>
        <li>自殺や自傷行為を助長する内容</li>
        <li>薬物に関する内容</li>
        <li>他者の権利を侵害する内容</li>
        <li>公序良俗に反する内容</li>
        <li>お笑いライブや芸人に関係ない内容</li>
        <li>虚偽の内容</li>
        <li>wArally!運営が不適切だと判断する内容</li>
        <h3>免責事項</h3>
        <li>wArally!は非公式のサービスです。当サイトに掲載された情報による損失については責任を負いかねます。ライブの最新情報については、ライブ主催者の公式ホームページにてお確かめください。</li>
        <li>利用者が利用規約及び日本法に抵触している、もしくはwArally!運営が不適切だと判断した場合は、wArally!運営によって投稿の削除・アカウント停止・アクセス禁止等の措置を取ることがあります。</li>
        <li>利用規約の変更はwArally!運営が予告なく行えるものとします。ただし、利用者に大きな影響があると予想される変更である場合は、合理的な周知期間を設け、不利益を被る利用者を最小限にする努力をいたします。</li>
        <li>wArally!運営の故意または重過失によるものでないならば、wArally!において発生した利用者間の紛争は、利用者間で解決するものとします。</li>
        <li>wArally!の停止・終了・譲渡は、wArally!運営が自由に行えるものとします。</li>
        <li>wArally!の情報は匿名で投稿できますが、法的な根拠によって提出を求められた場合、送信者の情報を提出することがあります。</li>
        <h3>改定履歴</h3>
        <li>2018年7月21日 制定</li>
      </div>
    <div>
  </div>
</section>